<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        ">

    <!-- 配置进行授权和认证的 Realm-->
    <bean id="myRealm" class="com.wy.npo.realm.ShiroDbRealm"></bean>
    
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
         <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>
    
    <!-- rememberMeManager管理器，写cookie，取出cookie生成用户信息 -->  
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">  
	    <property name="cookie" ref="rememberMeCookie" />  
	</bean>  
	<!-- 记住我cookie -->  
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">  
	    <!-- rememberMe是cookie的名字 -->  
	    <constructor-arg value="rememberMe" />  
	    <!-- 记住我cookie生效时间7天 -->  
	    <property name="maxAge" value="604800" />  
	</bean>  
	  
    
    <!-- 置 Shiro 的 SecurityManager Bean -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="cacheManager" ref="cacheManager"/> 
        <!-- 记住我 -->  
        <property name="rememberMeManager" ref="rememberMeManager"/>  
    </bean>

    <!-- shiro filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
            <!-- 装配 securityManager -->
	        <property name="securityManager" ref="securityManager"/>
	        <!-- 配置登陆页面 -->
	        <property name="loginUrl" value="/login"/>
	        <!-- 登陆成功后的一面 -->
	        <property name="successUrl" value="/index"/>
            <property name="unauthorizedUrl" value="/error/403"/>
	        <property name="filters">
	            <map>
	                <entry key="authc" value-ref="formAuthenticationFilter"/>
	            </map>
	        </property>
	        <!-- 具体配置需要拦截哪些 URL, 以及访问对应的 URL 时使用 Shiro 的什么 Filter 进行拦截.  -->
	        <property name="filterChainDefinitions">
		        <value>
		              /login = anon 
		              <!-- 如果这里也配置成authc，那么登录的操作就直接在shiro的包内处理，不需要通过loginController去调用，
		                                                        但是如果验证失败的话，spring mvc会拦截login这个路径，然后映射controller -->
		              /validateCode = anon
		              <!-- /** = authc 所有url都必须认证通过才可以访问 -->
		              /user/* = user
		              /org/* = user
		              /role/* = user
		              /resource/* = user
		              /loginLog/* = user
		              /opeLog/* = user
		        </value>
	        </property>
    </bean>
    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>