<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.npo.dao.SysOrgMapper">
  <resultMap id="BaseResultMap" type="com.wy.npo.entity.SysOrg">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="TINYINT" property="status" />
    <result column="RMK" jdbcType="VARCHAR" property="rmk" />
    <result column="PID" jdbcType="INTEGER" property="pid" />
    <result column="CREATOR_ID" jdbcType="INTEGER" property="creatorId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATOR_ID" jdbcType="INTEGER" property="updatorId" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, NAME, STATUS, RMK, PID, CREATOR_ID, CREATE_TIME, UPDATOR_ID, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_org
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_org
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wy.npo.entity.SysOrg" useGeneratedKeys="true" keyProperty="id">
    insert into t_sys_org (ID, CODE, NAME, 
      STATUS, RMK, PID, CREATOR_ID, 
      CREATE_TIME, UPDATOR_ID, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{rmk,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updatorId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wy.npo.entity.SysOrg" useGeneratedKeys="true" keyProperty="id">
    insert into t_sys_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="rmk != null">
        RMK,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updatorId != null">
        UPDATOR_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="rmk != null">
        #{rmk,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorId != null">
        #{updatorId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.npo.entity.SysOrg">
    update t_sys_org
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="rmk != null">
        RMK = #{rmk,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorId != null">
        UPDATOR_ID = #{updatorId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wy.npo.entity.SysOrg">
    update t_sys_org
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      RMK = #{rmk,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=INTEGER},
      CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATOR_ID = #{updatorId,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap">
        select ID,
               PID,
               NAME,
               CODE,
               CREATE_TIME,
               STATUS,
			   (select count(1) from T_SYS_ORG s where s.pid!=0 and s.pid=o.id and s.status = 1) countChildrens 
		from T_SYS_ORG o where o.status = 1
        <if test="sort != null and sort != ''">
            order by #{sort} #{order}
        </if>
        <if test="page > 0">
            limit #{start},#{end}
        </if>
  </select>
  
</mapper>